.App {
  text-align: center;
   display: flex;
  justify-content: center;
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/******* Añadidos para mi inicio*****/
.inicio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 500px;
  width: 90%;
  align-items: center;
  justify-content: center;

  
}
h1.centro{
  flex: 1 100%;
  font-size: xx-large;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.izq{
 
  flex: 0 48%;
  height: auto;
  padding: 0.1rem;
  margin: 0.2rem;
}
.der{
   flex:0 48%;
   height: auto;
  padding: 0.1rem;
  margin: 0.2rem;
}
.texto-negro{
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}


.contenedor{
  
  display: flex;
  width: 80%;

}

.tCat{
  flex:1 20%;
  
}

.tProd{
  flex:1 80%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
