body {
  margin: 0;
  padding: 0;
  
}
:root {
  --bs-body-font-family: 'Roboto', sans-serif; /* Reemplaza 'Roboto' con tu fuente */
}

.tablero {
 text-align: center;
   width: 500px; /* Ancho del tablero ajustable */
  height: 500px; /* Aseguramos que sea cuadrado */

}

.boton {
  width: 10%; /* Ocupa completamente la celda */
  height: 10%; /* Asegura que sea cuadrado */
  font-size: 1.2rem; /* Ajusta el tamaño del texto si es necesario */
}
.App{
  background-color: rgb(194, 186, 186);
  width: 100vw;
  height: 100vh;
  display: flex; /* Opcional, para centrar contenido */
  flex-direction: column;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}