.App {
  text-align: center;
/* Establece la imagen como fondo de pantalla */
background-image: url('../public/images/iconos/fondo2.jpg');
/* Centra el fondo en la ventana del navegador */
background-position: center;
/* Evita que la imagen se repita */
background-repeat: repeat;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.btnPedidos{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 60px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/******* Añadidos para mi inicio*****/
.inicio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: space-between;

  
}
h1.centro{
  flex: 1 100%;
  font-size: xx-large;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: rgba(91, 155, 110, 0.7); /* Aquí el último valor (0.5) representa la transparencia */
  border-radius: 6px;
}
.izq{
 
  flex: 0 48%;
  height: auto;
  padding: 0.1rem;
  margin: 0.2rem;
}
.der{
   flex:0 48%;
   height: auto;
  padding: 0.1rem;
  margin: 0.2rem;
}
.texto-negro{
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

/* gestión de las tablas*/

.contenedor{
  
  display: flex;
  width: 80%;
 height: auto;

}

.tCat{
  flex:1 20%;
  height: 100vh;
  
}

.tProd{
  flex:1 80%;

}
.boton{
  flex: 1 100%;
}

/*gestión de las cards*/
.cardPro{
  margin: 0.5rem;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  border: 1px solid rgba(111, 77, 27, 0.659); /* Borde */
 
}
.cardPro:hover {
  transform: translateY(-8px); /* Elevación al pasar el ratón */
 /* Aumenta el tamaño en un 10%   transform: scale(1.1);*/
  transition: transform 0.3s ease;
 
}
.card {
  border-radius: 10px; /* Bordes redondeados */
}
.card-img-top {
  width: 90%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Establece una altura fija */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}


.icono-container {
  width: 25px; /* Ancho deseado del icono */
  height: 25px; /* Alto deseado del icono */
}

.icono-svg {
  width: 16%; /* Ajusta el ancho del SVG al 100% del contenedor */
  height: 16%; /* Ajusta la altura del SVG al 100% del contenedor */
}

.spanCantidad{
  background-color: #98afe7;
  color:black;
  min-width: 35px; /* O el ancho mínimo deseado */
  display: inline-block; /* Esto permite definir un ancho mínimo */
  padding: 1px; /* Añade espacio alrededor del texto */
  text-align: center; /* Centra el texto horizontalmente */
  height: 30px;
  border-radius: 6px;
  
}
.totalPedido{
  margin-left: 50%;
}

.h1pedidos
{
  background-color: rgba(91, 155, 110, 0.7); /* Aquí el último valor (0.5) representa la transparencia */
    border-radius: 6px;
}
  .historicoPedidos {
    background-color: rgba(91, 140, 155, 0.7); /* Aquí el último valor (0.5) representa la transparencia */
    border-radius: 6px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
